@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgb(118, 219, 255);
    
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top , #ffadad, #58ffe6,);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}


#calcTemp {
    padding: 29px 60px;
    min-height: 290px;
    height: 35%;
    background-color: #ffd0f0;
    box-shadow: 2px 2px 10px black;
    border-radius: 50px;
}

label {
    font-size: 30px;
    line-height: 78px;
}

#temp {
    width: 110px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#temp_diff {
    width: 120px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}

#submit {
    width: 100px;
    border-radius: 25px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(0, 214, 200);
    padding: 5px;
    transition: all 0.5s ease;
}

#submit:hover{
    background-color: rgb(0, 109, 149);
    color: white;
    cursor: pointer;
}

#result{
    font-size: 27px;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}





